<mat-sidenav-container class="sidenav-container">
    <!-- SIDENAV -->

    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">

        <!--Hamburger items-->
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of items" routerLink="{{item.link}}"
               (click)="drawer.close()" routerLinkActive="active">{{item.label}}</a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <!-- TOP TOOLBAR-->

        <mat-toolbar class="mat-elevation-z4">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>


            <!--Toolbar items-->
            <ng-container *ngIf="!(isHandset$ | async)">

                <a mat-button *ngFor="let item of items" routerLink="{{item.link}}"
                   (click)="drawer.close()" routerLinkActive="active">{{item.label}}</a>

            </ng-container>


            <span class="fill-space"></span>



        </mat-toolbar>

        <!-- TRANSCLUSION -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
